<h3 mat-dialog-title>Login form</h3>
<div mat-dialog-content>
  <form>
    <div class="example-container">
      <mat-form-field class="example-full-width">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field class="example-full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-button type="submit" (click)="onSubmit()" [disabled]="!email.valid && !password.valid">Accedi</button>
  </form>
  <p>
    Non sei ancora registrato?
    <button mat-dialog-close mat-button (click)="openSignupModal()" color="primary">Clicca qui</button>
  </p>
</div>
<mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
