<div class="container-contact-header">
  <section class="login-contact-section">
    <h2 id="contatti-h2">Se avete bisogno di assistenza non esitate a contattarci il team di how got em è sempre a disposizione</h2>
  </section>
</div>
<div class="container-contact-body">
  <section class="faq-contact-section">
    <h3 id="contatti-h3">Domande frequenti</h3>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            LE SCARPE SONO ORIGINALI?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Le scarpe sono tutte assolutamente originali, analizzate ad ogni arrivo in negozio, trattiamo solo item
          autentici.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            QUANTI GIORNI CI VOGLIONO PER LA SPEDIZIONE?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Quando si acquista una scarpa non si vede l'ora di metterla ai piedi, noi lo sappiamo e per questo ci
          prendiamo
          l'impegno di spedire in max 48/72 H
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            IN CASO DI PROBLEMI COME POSSO CONTATTARVI?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <P>
          Il team di How got'Em è sempre pronto a risolvere i problemi e dare il miglior servizio possibile.
          Compila il form qui sotto e ti risponderemo il prima possibile!
        </P>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            POSSO PAGARE IN CONTRASSEGNO?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Si! Anche se non è il metodo che privilegiamo ci rendiamo conto che ci rende più affidabili!
          Applichiamo solo una tariffa aggiuntiva di 9€ che sono i costi aggiuntivi che i corrieri ci fanno pagare.
          Siamo qui per darti il miglior servizio e la migliore esperienza possibile.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <section class="contact-section">
    <h3 id="contatti-2-h3">O, se preferisci, scrivici!</h3>
    <div class="contact-section-flex">
      <div>
        <a mat-button href="mailto:indirizzo@email.com" target="_blank">
          <i class="fa-solid fa-envelope"></i>
          howgotem@email.com
        </a>
      </div>
      <div>
        <a mat-button href="https://wa.me/390123456789" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
          WhatsApp
        </a>
      </div>
      <div>
        <a mat-button href="https://www.instagram.com/howgotem/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
          @_how_got'em
        </a>
      </div>
      <div>
        <a mat-button href="https://www.facebook.com/il_tuo_account/" target="_blank">
          <i class="fa-brands fa-facebook-f"></i>
          How_got'em
        </a>
      </div>
    </div>
  </section>
</div>
