/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#sneakers-h2, #cart-h2, #chi-siamo-h2, #profilo-h2, #ordini-h2, #signup-h2, #login-h2, #impostazioni-h2, #home-h2, #contatti-h2, #admin-h2 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}
#cart-h3, #profilo-h3, #contatti-h3, #contatti-2-h3, .home-info, #info-text, .chi-siamo-p, #errore-h3 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  padding-top: 2rem;
}

#link-utili-h4, #registrato-h4, #non-registrato-h4, #metodi-pagamento-h4{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
}

.container-bg{
  position: relative;
}

re-captcha.is-invalid > div {
  border: 1px solid #dc3545 !important;
  border-radius: 0.2rem;
}

.sneakers-dialog-container{
  position: fixed !important;
  top: 64px;
  width: 100%;
  height: 400px;
}

.login-dialog-container{
  position: fixed !important;
  right: 0;
  width: 25%;
  height: 100vh;
}

.signup-dialog-container{
  position: fixed !important;
  right: 0;
  width: 45%;
  height: 100vh;
}

/* .mat-form-field-appearance-legacy .mat-form-field-infix{
  padding: 0.4375em 0;
  width: 100%;
} */

/* PAGINA SNEAKERS INPUT FORM WIDHT */
.container-scarpa-info .mat-form-field-infix{
  width: 40px;
}

/* TASTO CLOSE DI SNACKBAR */
.custom-close-button .mat-button-wrapper{
  color: #1D818F;
}

@media screen and (max-width: 1100px) {
  .login-dialog-container{
    width: 35%;
  }

  .signup-dialog-container{
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .login-dialog-container{
    width: 45%;
  }

  .signup-dialog-container{
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .login-dialog-container{
    width: 55%;
  }

  .signup-dialog-container{
    width: 95%;
  }

}
