.section-profile{
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.section-profile div{
  max-width: 30%;
  font-size: x-large;
}

.section-profile img{
  max-width: 20%;
}

@media screen and (max-width: 768px) {
  .section-profile{
    flex-direction: column;
    align-items: center;
  }

  .section-profile div{
    padding: 2rem;
    font-size: 1rem;
  }

}

