<div mat-dialog-content>
  <div class="sneakers-modal">
    <div class="section-sneakers-modal">
      <h4>DUNK</h4>
    </div>
    <div class="section-sneakers-modal">
      <h4>JORDAN</h4>
    </div>
    <div class="section-sneakers-modal">
      <h4>NEW BALANCE</h4>
    </div>
    <div class="section-sneakers-modal">
      <h4>YEEZY</h4>
    </div>
    <div class="section-sneakers-modal">
      <h4>AIR FORCE</h4>
    </div>
    <div class="section-sneakers-modal">
      <h4>OTHER</h4>
    </div>
  </div>
</div>
