<div class="container-header-sneaker">
  <div *ngIf="filter">
    <button mat-button (click)="filter = !filter">
      <i class="fa-solid fa-arrow-down-wide-short"></i>
      nascondi filtri
    </button>
  </div>
  <div *ngIf="!filter" (click)="filter = !filter">
    <button mat-button>
      <i class="fa-solid fa-arrow-up-short-wide"></i>
      mostra filtri
    </button>
  </div>
  <div>
    <h2 id="sneakers-h2">Il tuo nuovo paio di sneakers ti aspetta qui: ecco la nostra collezione</h2>
  </div>
</div>
<div class="container-sneakers">
  <div class="container-filters" *ngIf="filter">
    <div class="checkbox-filter">
      <p>filtra per brand</p>
      <!-- <div *ngFor="let item of stringBrand">
        <mat-checkbox color="primary" [(ngModel)]="selectedFilters.brands" [value]="item" name="brand">{{item}}</mat-checkbox>
      </div> -->
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let item of selectedFilters.brands" [selectable]="true" [removable]="true" (removed)="removeBrand(item)">
          {{item}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-form-field>
        <mat-label>Seleziona brand</mat-label>
        <mat-select (selectionChange)="addBrand($event.value)">
          <mat-option *ngFor="let string of stringBrand" [value]="string">{{string}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="size-filters">
      <p>filtra per taglia</p>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let size of selectedFilters.sizes" [selectable]="true" [removable]="true" (removed)="removeSize(size)">
          {{size}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-form-field>
        <mat-label>Seleziona taglia</mat-label>
        <mat-select (selectionChange)="addSize($event.value)">
          <mat-option *ngFor="let size of availableSizes" [value]="size">{{size}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="price-filters">
      <p>filtra per prezzo max</p>
      <div class="example-label-container">
        <label id="example-name-label" class="example-name-label">Prezzo</label>
        <label class="example-value-label"> € {{selectedFilters.maxPrice}}</label>
      </div>
      <mat-slider [(ngModel)]="selectedFilters.maxPrice" name="sliderValue" min="0" max="1000" step="25" color="primary">
        <input matSliderThumb>
      </mat-slider>
    </div>
    <mat-form-field>
      <mat-label>filtra per colore</mat-label>
      <mat-select [(ngModel)]="selectedFilters.color">
        <mat-option *ngFor="let color of colors" [value]="color">{{ color }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="filterShoes(selectedFilters)">FILTRA</button>
  </div>
  <div class="container-cards" [style.width.%]="!filter ? 100 : null">
    <app-card [shoes]="displayShoes"></app-card>
    <p *ngIf="!displayShoes || displayShoes.length === 0">Non abbiamo trovato nessuna scarpa mi dispiace</p>
    <mat-paginator [pageSize]="15" [length]="shoesFiltered.length" (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>
