<!-- <app-under-navbar></app-under-navbar> -->
<app-carousel></app-carousel>
<div class="container-cards">
  <h2 id="home-h2">Best seller</h2>
  <app-card [shoes]="bestSellerShoes"></app-card>
</div>
<div class="container-bg">
  <div class="bg-image-home">
    <div id="info-text">
      <!-- <p>Il nostro assortimento di scarpe è in continuo cambiamento per offrirti le ultime novità nel mondo delle sneakers. Scopri le modifiche esclusive delle nostre scarpe e rendi il tuo outfit unico!</p> -->
      <p>Se sei sempre alla ricerca delle ultime tendenze nel mondo delle sneakers, sei nel posto giusto! Qui da noi troverai un vasto assortimento di scarpe alla moda, costantemente aggiornato con nuove e innovative modifiche.</p>
      <p>Che tu sia alla ricerca di un nuovo paio di scarpe per il tuo guardaroba personale o per completare un outfit per una serata con gli amici, troverai sicuramente il modello perfetto qui da noi. Le nostre scarpe sono state selezionate con cura tra i marchi più alla moda e le modifiche che apportiamo regolarmente le rendono sempre al passo con le ultime tendenze.</p>
      <p>Inoltre, il nostro team di esperti è costantemente alla ricerca di nuovi stili e di modi creativi per rendere le nostre scarpe ancora più esclusive. Così, potrai sempre trovare qualcosa di nuovo e interessante da scoprire qui da noi.</p>
    </div>
  </div>
</div>
<section class="home-info">
  <div>
    <mat-icon>airplanemode_active</mat-icon>
    <p>Spedizione rapida meno di 48/72H</p>
  </div>
  <div>
    <mat-icon>copyright</mat-icon>
    <p>100% originali</p>
  </div>
  <div>
    <mat-icon>alarm</mat-icon>
    <p>Assistenza rapida</p>
  </div>
  <div>
    <mat-icon>https</mat-icon>
    <p>Pagamenti sicuri</p>
  </div>
</section>
