<div class="carousel">
  <div class="carousel-item carousel-item-1" [class.active]="currentElementIndex === 0">
  </div>
  <div class="carousel-item carousel-item-2" [class.active]="currentElementIndex === 1">
  </div>
  <div class="carousel-item carousel-item-3" [class.active]="currentElementIndex === 2">
  </div>
  <button class="btn" mat-icon-button aria-label="Example icon button with a user icon" (click)="onPrevClick()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button class="btn" mat-icon-button aria-label="Example icon button with a user icon" (click)="onNextClick()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
