<div class="carousel">
  <div class="carousel-item carousel-item-1" [class.active]="currentElementIndex === 0">
    <h2>NIKE DUNK</h2>
    <p>Scopri le nostre scarpe Nike Dunk</p>
    <button mat-raised-button>Scopri</button>
  </div>
  <div class="carousel-item carousel-item-2" [class.active]="currentElementIndex === 1">
    <h2>JORDAN</h2>
    <p>Scopri le nostre scarpe Jordan</p>
    <button mat-raised-button>Scopri</button>
  </div>
  <div class="carousel-item carousel-item-3" [class.active]="currentElementIndex === 2">
    <h2>NEW BALANCE</h2>
    <p>Scopri le nostre scarpe New Balance</p>
    <button mat-raised-button>Scopri</button>
  </div>
  <button class="btn" mat-icon-button aria-label="Example icon button with a user icon" (click)="onPrevClick()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button class="btn" mat-icon-button aria-label="Example icon button with a user icon" (click)="onNextClick()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
