<h2 id="cart-h2">CARRELLO</h2>
<div class="container-cart" *ngIf="shoes.length > 0; else emptyCart">
  <section class="products-cart">
    <div>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Modello</th>
            <th>Prezzo</th>
            <th>Taglia</th>
            <th>Quantità</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cartShoe of cartShoes">
            <td><img src="{{imgPath}}{{cartShoe.shoe.urlImg}}" alt=""></td>
            <td>{{ cartShoe.shoe.model }}</td>
            <td>{{ cartShoe.shoe.sizes[0].price | currency: 'EUR' }}</td>
            <td>
              <ul>
                <li *ngFor="let size of cartShoe.sizes">{{ size.size.size }}</li>
              </ul>
            </td>
            <td>
              <ul>
                <li *ngFor="let size of cartShoe.sizes">
                  {{ size.quantityOrdered }}
                </li>
              </ul>
            </td>
            <td>
              <button mat-button (click)="removeFromCart(cartShoe.shoe.id)">Rimuovi</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              Totale: {{ cartTotalPrice | currency: 'EUR' }}
              <button mat-button (click)="clearCart()">Svuota Carrello</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </section>
  <section class="cart-payment">
    <h3 id="cart-h3">RIEPILOGO</h3>
    <div class="section-cart-payment">
      <p>Subtotale</p>
      <p>{{ cartTotalPrice | currency: 'EUR' }}</p>
    </div>
    <div class="section-cart-payment">
      <p>Costi di spedizione</p>
      <p *ngIf="cartSpeditionPrice">{{ cartSpeditionPrice | currency: 'EUR' }}</p>
      <p *ngIf="!cartSpeditionPrice">gratis</p>
    </div>
    <hr>
    <div class="section-cart-payment">
      <p>Totale</p>
      <p>{{ cartTotalAndSpeditionPrice | currency: 'EUR' }}</p>
    </div>
    <hr>
    <div class="Payment-method" *ngIf="isLogged && user?.speditionAddress && user?.speditionCity && user?.speditionPostalCode">
      <app-pay-pal [price]="cartTotalPrice" [orderRequest]="orderRequest" [user]="user"></app-pay-pal>
    </div>
    <div *ngIf="!isLogged" class="conditions">
      <p>Devi effettuare il login per effettuare l'acquisto</p>
      <button mat-button (click)="openLoginModal()">ACCEDI</button>
    </div>
    <div *ngIf="isLogged && !user?.speditionAddress && !user?.speditionCity && !user?.speditionPostalCode" class="conditions">
      <p>Per effettuare il pagamento devi prima inserire le credenziali di spedizione nella seguente pagina di aggiunta informazioni</p>
      <button mat-button routerLink="/impostazioni">CLICCA QUI</button>
    </div>
  </section>
</div>
<ng-template #emptyCart>
  <p>Il carrello è vuoto.</p>
</ng-template>
