<h2 class="title-cart">CARRELLO</h2>
<div class="container-cart" *ngIf="shoes.length > 0; else emptyCart">
  <section class="products-cart">
    <div>
      <h2>Carrello</h2>
      <table>
        <thead>
          <tr>
            <th>Modello</th>
            <th>Prezzo</th>
            <th>Taglia</th>
            <th>Quantità</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cartShoe of cartShoes">
            <td>{{ cartShoe.shoe.model }}</td>
            <td>{{ cartShoe.shoe.sizes[0].price | currency: 'EUR' }}</td>
            <td>
              <ul>
                <li *ngFor="let size of cartShoe.sizes">{{ size.size.size }}</li>
              </ul>
            </td>
            <td>
              <ul>
                <li *ngFor="let size of cartShoe.sizes">
                  {{ size.quantityOrdered }}
                </li>
              </ul>
            </td>
            <td>
              <button (click)="removeFromCart(cartShoe.shoe.id)">Rimuovi</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              Totale: {{ cartTotalPrice | currency: 'EUR' }}
              <button (click)="clearCart()">Svuota Carrello</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </section>
  <section class="cart-payment">
    <h2>RIEPILOGO</h2>
    <div class="section-cart-payment">
      <p>Subtotale</p>
      <p>{{ cartTotalPrice | currency: 'EUR' }}</p>
    </div>
    <div class="section-cart-payment">
      <p>Costi di spedizione</p>
      <p *ngIf="cartSpeditionPrice">{{ cartSpeditionPrice | currency: 'EUR' }}</p>
      <p *ngIf="!cartSpeditionPrice">gratis</p>
    </div>
    <hr>
    <div class="section-cart-payment">
      <p>Totale</p>
      <p>{{ cartTotalAndSpeditionPrice | currency: 'EUR' }}</p>
    </div>
    <hr>
    <div class="Payment-method">
      <app-pay-pal [price]="cartTotalPrice"></app-pay-pal>
      <button mat-button><i class="fa-brands fa-cc-mastercard"></i></button>
      <button mat-button><i class="fa-brands fa-stripe"></i></button>
      <button mat-button><i class="fa-brands fa-cc-visa"></i></button>
    </div>
  </section>
</div>
<ng-template #emptyCart>
  <p>Il carrello è vuoto.</p>
</ng-template>
