.container-cart{
  display: flex;
}

.products-cart{
  width: 70%;
  padding: 2rem;
}

.cart-full{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-full img{
  width: 10%;
}

.cart-payment{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 2rem;
}

.cart-payment hr{
  border: solid black 1px;
  width: 80%;
  padding-right: 2rem;
}

.section-cart-payment{
  display: flex;
  justify-content: space-between;
}

.products-cart table{
  width: 100%;
}

table tbody tr{
  height: 100px;
}

table tbody tr ul{
  list-style-type: none;
}

.products-cart table img{
  width: 80px;
}

.conditions{
  padding-top: 2rem;
}

.cart-void{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}

@media screen and (max-width: 768px) {

  .container-cart{
    flex-direction: column;
  }

  .products-cart{
    width: 80%;
    margin: 0 auto;
  }

  .cart-payment{
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {

  .products-cart{
    padding: 1rem;
    margin: 0;
  }
}
