<div>
  <div class="container-bg">
    <div class="bg-image-chi-siamo">
      <h2 id="chi-siamo-h2">How got em un progetto di sneaker resell</h2>
    </div>
  </div>
  <div id="chi-siamo-text-container">
    <p>
      Benvenuti nel nostro negozio di resell di sneakers, il posto giusto per trovare le sneakers più esclusive e
      introvabili sul mercato.
      Siamo un team di ragazzi appassionati di sneakers, impegnati a fornire solo le sneakers di alta qualità dei
      migliori marchi sul mercato.
      Offriamo una vasta selezione di sneakers, tra cui i modelli più popolari di Nike, New Balance, Yeezy e Jordan.
      Ogni paio di scarpe che vendiamo è autentico e verificato, quindi puoi essere sicuro che stai acquistando un
      prodotto di qualità.
      Ci impegniamo a fornire un servizio clienti eccellente e ad aiutare i nostri clienti a trovare il paio di scarpe
      perfetto per loro.
      Siamo sempre disponibili per qualsiasi domanda o richiesta di informazioni.
    </p>
  </div>
  <div class="container-bg">
    <div class="bg-image-chi-siamo-2">
      <p class="chi-siamo-p">GRAZIE PER AVER SCELTO HOW GOT EM</p>
    </div>
  </div>
</div>
