<div class="container-scarpa" *ngIf="shoe">
  <div class="container-scarpa-img">
    <img [src]="immaginePrincipale" alt="Immagine prodotto">
    <div class="container-scarpe-imgs">
      <img [src]="img1" alt="Immagine prodotto" (click)="selezionaImmagine(img1)">
      <img [src]="img2" alt="Immagine prodotto" (click)="selezionaImmagine(img2)">
    </div>
  </div>
  <div class="container-scarpa-info">
    <h3>{{shoe.brand}}</h3>
    <h2>{{shoe.model}}</h2>
    <p>{{shoe.skuCode}}</p>
    <mat-form-field class="example-full-width taglia">
      <mat-label>Taglia</mat-label>
      <mat-select [(ngModel)]="sizeNumber" (selectionChange)="onSizeChange()">
        <ng-container *ngFor="let size of shoe.sizes">
          <mat-option *ngIf="size.quantityAvailable > 0" value="{{size.size}}">{{size.size}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
      <div class="quantita">
        <button mat-button (click)="diminuisciQuantita()">-</button>
        <mat-form-field class="example-full-width">
          <mat-label>Quantità</mat-label>
          <input matInput [(ngModel)]="quantita" name="quantita" disabled>
        </mat-form-field>
        <button mat-button (click)="aumentaQuantita()">+</button>
      </div>
      <p *ngIf="selectedSize">{{selectedSize.price | currency: 'EUR'}}</p>
      <button mat-button (click)="addToCart()">AGGIUNGI AL CARRELLO</button>
  </div>
</div>
<div class="autenticita-scarpa">
  <p>Tutti i prodotti che troverete disponibili sul nostro sito sono nuovi ed originali, verranno consegnati con il
    sigillo How Got'Em, certificato di autenticità per garantire che il prodotto sia stato autenticato prima che ti
    venga consegnato.</p>
</div>
