<div class="container-scarpa">
  <div class="container-scarpa-img">
    <img src="../../../../assets/img/dunk.jpg" alt="scarpa">
  </div>
  <div class="container-scarpa-info">
    <p>brand</p>
    <h2>Nome scarpa</h2>
    <p>prezzo</p>
    <p>codice di scarpa</p>
    <form action="">
      <mat-form-field class="example-full-width taglia">
        <mat-label>Taglia</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="quantita">
        <button mat-button (click)="aumentaQuantita()">+</button>
        <mat-form-field class="example-full-width">
          <mat-label>Quantità</mat-label>
          <input matInput [(ngModel)]="quantita" name="quantita">
        </mat-form-field>
        <button mat-button (click)="diminuisciQuantita()">-</button>
      </div>
      <button mat-button>AGGIUNGI AL CARRELLO</button>
    </form>
  </div>
</div>
<div>
  <p>Tutti i prodotti che troverete disponibili sul nostro sito sono nuovi ed originali, verranno consegnati con il
    sigillo Icy Sneakers, certificato di autenticità per garantire che il prodotto sia stato autenticato prima che ti
    venga consegnato.</p>
</div>
