<div class="footer">
  <div class="container-social-footer">
    <a mat-button href="https://wa.me/390123456789" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    <a mat-button href="https://www.instagram.com/howgotem/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a mat-button href="https://www.facebook.com/il_tuo_account/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
  </div>
  <div class="container-footer">
    <div class="container-1 sub-container-footer">
      <h4 id="link-utili-h4">LINK UTILI</h4>
      <a routerLink="/sneakers">sneakers</a>
      <a routerLink="/chisiamo">chi siamo</a>
      <a routerLink="/contatti">contatti</a>
      <a (click)="openLoginModal()">accedi</a>
    </div>
    <div class="container-2 sub-container-footer">
      <h4 id="registrato-h4">SEI GIA REGISTRATO!</h4>
      <a (click)="openProfile()">il mio account</a>
      <a (click)="openOrders()">i miei ordini</a>
      <a (click)="openSettings()">impostazioni profilo</a>
    </div>
    <div class="container-3 sub-container-footer">
      <h4 id="non-registrato-h4">NON SEI ANCORA REGISTRATO!</h4>
      <button mat-button (click)="openSignupModal()">REGISTRATI</button>
    </div>
    <div class="container-4 sub-container-footer">
      <h4 id="metodi-pagamento-h4">METODI DI PAGAMENTO</h4>
      <div>
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-paypal"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <!-- <i class="fa-brands fa-cc-stripe"></i> -->
      </div>
    </div>
  </div>
  <div class="footer-footer">
    <p><small>HowGotEm un ecommerce di sneakers resell</small></p>
  </div>
</div>
