<div class="footer">
  <div class="container-social-footer">
    <a mat-button href="https://wa.me/390123456789" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    <a mat-button href="https://www.instagram.com/howgotem/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a mat-button href="https://www.facebook.com/il_tuo_account/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
  </div>
  <div class="container-footer">
    <div class="container-1 sub-container-footer">
      <h4>Link utili</h4>
      <a routerLink="/sneakers">sneakers</a>
      <a routerLink="/contatti">contatti</a>
      <a (click)="openLoginModal()">accedi</a>
      <a (click)="openSignupModal()">registrati</a>
      <a routerLink="/profilo">il mio account</a>
    </div>
    <div class="container-2 sub-container-footer">
      <h4>I nostri brand</h4>
      <a href="">Nike</a>
      <a href="">Jordan</a>
      <a href="">New Balance</a>
    </div>
    <div class="container-3 sub-container-footer">
      <h4>Assistenza</h4>
      <a href="">Aiuto / FAQ</a>
      <a href="">Spedizioni</a>
      <a href="">Resi</a>
    </div>
    <div class="container-4 sub-container-footer">
      <h4>Metodi di pagamento</h4>
      <div>
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-paypal"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-brands fa-cc-stripe"></i>
      </div>
    </div>
  </div>
</div>
